<section ng-controller="RoommatesController">
  <h1>Find Your Roommate Now!</h1>

  <ul id="roommates">
    <!-- <li ng-repeat="roommate in roommateInfo.roommates" class="roommate" ng-class="{ active : roommate.isActive }"> -->
    <li>
      <img ng-src="{{ roommateInfo.roommates[0].facebook.picture.data.url }}" class="roommateProfilePic" />
      <h4>{{ roommateInfo.roomates[0].facebook.name }}</h4>


      <button class="btn btn-danger likeNope" ng-click="nopeButton()">Nope</button>

      <button class="btn btn-success likeNope" ng-click="likeButton()">Like</button>

        <div class="roommateMutual">
          <h4>mutual friends</h4>
          <img src="{{friendsPic}}" ng-click="mutualFriendsModal()">
        </div>
        <div class="roommateMutual">
          <h4>mutual music</h4>
          <img src="{{musicPic}}" ng-click="mutualMusicModal()">
        </div>
        <div class="roommateMutual">
          <h4>mutual movies</h4>
          <img src="{{moviePic}}" ng-click="mutualMoviesModal()">
        </div>
      <h4>compatibility</h4>
      <span>You are a {{(roommateInfo.mutualRoommateInfo[0].compatibility * 100).toFixed(2)}}% match.</span>
      <a href="#!/roommates/mutualQuestions?{{roommateInfo.roommates[0].facebook.id}}">
        See the questions and answers that you two had in common
      </a>
    </li>
  </ul>
  <div mutual-movies></div>
  <div mutual-music></div>
  <div mutual-friends></div>
</section>