<section ng-controller="ProfileController">
  <img src="{{userInfo.cover.source}}" class="coverProfile" alt="You have no Cover"/>
  <img src="{{userInfo.picture.data.url}}" />
  <div>

  </div>

  <h3>Movies</h3>
  <div id="profileMovies">
    <div ng-repeat="movie in userInfo.movies.data">
      <div class="multimedia">
        <a href="{{movie.link}}"><img src="{{movie.picture.data.url}}" /></a>
      </div>
      <h4 class="mediaTitle">{{movie.name}}</h4>
    </div>
  </div>  

  <h3>Music</h3>
  <div id="profileMusic">
    <div ng-repeat="music in userInfo.music.data">
      <div class="multimedia">
        <a href="{{music.link}}"><img src="{{music.picture.data.url}}" /></a>
      </div>
      <h4 class="mediaTitle">{{music.name}}</h4>
    </div>
  </div>


  <h3>Work</h3>
  <div id="profileMusic">
    <div ng-repeat="work in userInfo.work">
      <span>{{work.employer.name}}</span>
    </div>
  </div>

</section>