<section>
  <div ng-hide="questions.length > 0" class="row">
    <h3 class="span4">Watch here for more questions</h3>
  </div>
  <div ng-show="questions.length > 0" class="row">
    <h3 class="span4">Questions</h3>
  </div>
  <div class="row">
    <h5 class="span4">answer questions to more accurately match your next roommate</h5>
  </div>

  <form class="question control-group" ng-submit="submitQA()">

    <div class="row">
      <div class="span4">
        <h4>{{questions[0].question}}</h4>
      </div>
      <div class="span2 offset3">
        <input type="button" class="btn btn-info" value="Skip" ng-click="showNextQuestion()">
        <input type="submit" class="btn btn-success" value="Submit" ng-show="validForm">
      </div>
    </div>

    <div class="row">
      <div class="btn-group span4" data-toggle="buttons-radio">
        <button type="button" ng-click="setUserAnswer($index, questions[0]._id)" class="questionBtn btn btn-primary" ng-repeat="answer in questions[0].answers">{{answer.message}}</button>
      </div>
    </div>

    <div class="row">
      <div class="span4">
        <h4>Answers I'll accept...</h4>
        <div class="btn-group" data-toggle="buttons-checkbox">
          <button type="button" ng-click="setUserAccepts($index)" class="questionBtn btn btn-primary" ng-repeat="answer in questions[0].answers">{{answer.message}}</button>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="span4">
        <h4>This question is...</h4>
        <div class="btn-group" data-toggle="buttons-radio">
          <button type="button" ng-click="setUserImportance($index)" class="questionBtn btn btn-primary" ng-repeat="answer in importance">{{answer}}</button>
        </div>
      </div>
    </div>
  </form>

</section>
