body {

}
.navbar .nav>li>a.brand {
  padding-left:20px;
  margin-left:0
}

.content {
  margin-top:50px;
  width:100%
}

footer {
  position:fixed;
  left:0px;
  bottom:0px;
  height:30px;
  width:100%;
  background:#ddd;
  -webkit-box-shadow:0 8px 6px 6px black;
  -moz-box-shadow:0 8px 6px 6px black;
  box-shadow:0 8px 6px 6px black
}

footer p {
  padding:5px 0 12px 10px
}

.signin {
  height:300px;
}

.btn-question-choice {
  background: #6d91ff;
  color: white;
}

.mediaImg {
  position: relative;
  width: 100%;
}

.mediaImg h3 {
  position: absolute;
  top: 60%;
  left: 0px;
  width: 100%;
}

.mediaDiv {
  height: 130px;
  width: 130px;
  overflow: hidden;
  float: left;
}

.mediaCat {
  background: black;
  color: white;
  opacity: 0.8;
  padding: 0px 3px;
}

.fixedFoot {
  position: absolute;
  width: 94.6%;
  bottom: -57px;
  left: 0px;
}