body {
  background-image: url('/img/ticks.png');
}
.navbar .nav>li>a.brand {
  padding-left:20px;
  margin-left:0
}

.content {
  margin-top:50px;
  width:100%
}

footer {
  position:fixed;
  left:0px;
  bottom:0px;
  height:30px;
  width:100%;
  background:#ddd;
  -webkit-box-shadow:0 8px 6px 6px black;
  -moz-box-shadow:0 8px 6px 6px black;
  box-shadow:0 8px 6px 6px black
}

footer p {
  padding:5px 0 12px 10px
}

.signin {
  height:300px;
}

.btn-question-choice {
  background: #6d91ff;
  color: white;
}

.mediaImg {
  position: relative;
  width: 100%;
}

.mediaImg h3 {
  position: absolute;
  top: 60%;
  left: 0px;
  width: 100%;
}

.mediaDiv {
  height: 130px;
  width: 130px;
  overflow: hidden;
  float: left;
}

.mediaCat {
  background: black;
  color: white;
  opacity: 0.8;
  padding: 0px 3px;
}

.fixedFoot {
  position: absolute;
  width: 94.6%;
  bottom: -57px;
  left: 0px;
}

.scroller {
  float: left;
  width: 100%;
  overflow: auto;
  overflow-y: hidden;
  white-space: nowrap;
  height: 180px;
}

.mediaWheel {
  display: inline-block;
  max-width: 180px;
  position: relative;
  height: 145px;
  width: 180px;
  overflow: hidden;
  float: left;
}


.mediaWheel h4 {
  position: absolute;
  top: 60%;
  left: 0px;
  width: 100%;
}

.mediaCatRm {
  background: black;
  color: white;
  opacity: 0.8;
  padding: 0px 3px;
}

.mediaWheelText {
  height: 145px;
  width: 180px;
  display: inline-block;
  max-width: 180px;
  background: #ff715e;
}

.mediaWheelText span, .mediaWheelText a, .mediaWheelText p {
  white-space: pre-line;
  margin: 0px;
}

.mediaWheelText h4 {
  margin: 0px 0px 3px 0px;
  background: #1e59b2;
}

.banner {
  background: white;
  color: black;
  padding-left: 5px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  width: 100%;
}

.likeNope {
  margin: 0px;
  width: 48.25%;
  border: none;
  height: 90px;
}

.right {
  float: right;
}

.employerName {
  margin-left: 5px;
}