.shadow {
  -moz-box-shadow: 3px 3px 5px 6px #bbb;
  -webkit-box-shadow: 3px 3px 5px 6px #bbb;
  box-shadow:         3px 3px 5px 6px #bbb;
}

.white {
  color: white;
}

.carousel-control:hover {
  cursor: default;
}