<div id="userMusicModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Music you like...</h3>
  </div>
  <div class="modal-body">
    <div ng-repeat="music in userInfo.music.data" class="mediaDiv">
      <a href="{{music.link}}"><img src="{{music.picture.data.url}}" class="mediaImg"></a>
      <h4 class="mediaName">{{music.name}}</h4>
    </div>
  </div>
  <div class="modal-footer fixedFoot">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>
