<div id="mutualFriendsModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Friends you have in common...({{roommateInfo.mutualRoommateInfo[0].friends.length}})</h3>
  </div>
  <div class="modal-body">
    <div ng-repeat="mFriend in roommateInfo.mutualRoommateInfo[0].friends" class="mediaDiv">
      <img src="{{mFriend.picture.data.url}}" class="mediaImg">
      <span class="mediaName">{{mFriend.name}}<span>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>