<div id="mutualLikesModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Likes you have in common...({{roommateInfo.mutualRoommateInfo[0].likes.length}})</h3>
  </div>
  <div class="modal-body">
    <div ng-repeat="mLike in roommateInfo.mutualRoommateInfo[0].likes" class="mediaDiv">
      <img src="{{mLike.picture.data.url}}" class="mediaImg">
      <span class="mediaName">{{mLike.name}}<span>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>