.coverProfile {
  width: 50%;
  margin: auto;
}

.profilePic {
  margin: auto;
  display: block;
}

.profile {
  margin: 0px;
  height: 200px;
  width: 200px;
  
  float: left;
  display: inline;
  overflow: hidden;
}

.multimedia a img {
  margin: auto;

  overflow: hidden;

  float: left;
}

.mediaTitle {

  width: 180px;
  display: block;

}