.coverProfile {
  width: 50%;
  margin: auto;
}

.center {
  margin: auto;
}
.multimedia a img {
  margin: auto;

  overflow: hidden;

  float: left;
}

.mediaTitle {

  width: 180px;
  display: block;

}