.coverProfile {
  width: 50%;
  margin: auto;
}

#profileMovies, #profileMusic {
  margin: 0px;
  height: 200px;
  width: 200px;
  
  overflow: auto;
}

.resize {
  width: 180px;
  margin: 0px;
}
.multimedia {
  margin: 10px 0px;
  height: 100px;
  width: 180px;
  
  overflow: hidden;

  float: left;
}

.multimedia img {
  margin: auto;
  display: inline;
  vertical-align: center;
}

.mediaTitle {

  width: 180px;
  display: block;

}