.answersFields {
  width: 180px;
}
.questionBtn {
  margin: 3px 0px;
  display: block;
}

.userQuestionCompare {
  color: blue;
  position: absolute;
  left: 200px;
}

.rmQuestionCompare {
  color: red;
}