.answersFields {
  width: 180px;
}
.questionBtn {
  margin: 3px 0px;
  display: block;
}

.userQuestionCompare {
  /*position: absolute;
  left: 200px;*/
  float: right;
}

h1{text-align:center}
ul.articles li: not(:last-child){border-bottom:1 solid #ccc}
