.mediaImg, .mediaDiv {
  float: left;
  display: inline;
  overflow: hidden;
  overflow-y: hidden;
}

.mediaImg {
  height: 120px;
  width: 120px;
}

.mediaDiv {
  height: 137px;
  width: 120px;
}

.mediaName {
  margin-bottom: 2px;
  font-size: 15px;
}

.fixedFoot {
  position: absolute;
  width: 94.6%;
  bottom: -57px;
  left: 0px;
}