!!! 5
html
  include ../includes/head
  body
    header.navbar.navbar-fixed-top.navbar-inverse(data-ng-include="'views/header.html'")
    section.content
      section.container
        block content
    include ../includes/foot
